.fieldset {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 10px;
    width: 200px;
    height: 180px;
    border-style: none;
    align-items: center;
}