.appInfo {
    display: flex;
    flex-direction: row;
    padding: 10px 30px;;
}

.userInfo {
    display: flex;
    flex-direction: row;
}

.sideNav {
    position: relative;
    z-index: 2;
    left: -40px;
}