.appInfo {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 30px 10px;;
}

.appName {
    font-size: var(--large);
    padding: 25px 0px 10px 10px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
}

.sideNav {
    position: relative;
    z-index: 2;
    left: -40px;
}