.appInfo {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 15px 10px;
}

.appName {
    font-size: var(--logo);
    padding: 25px 0px 10px 10px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.welcome {
    font-size: var(--large);
    padding: 0px 10px;
}

.sideNav {
    position: fixed;
    z-index: 100;
    width: 300px;
    background-image: url('/images/quiz/Light Mode Low Opacity.png'); 
    background-size: cover; 
    background-position: center;
}

.box {
    position: fixed;
    z-index: 99;
    width: 100vw;
    background-color: rgb( 0, 0, 0, 0.5);
    height: calc(923 - 85);

}

