.appInfo {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 15px 10px;
}

.appName {
    font-size: var(--logo);
    padding: 25px 0px 10px 10px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.welcome {
    font-size: var(--large);
    padding: 0px 10px;
}

.sideNav {
    position: fixed;
    z-index: 100;
    width: 300px;
    height: calc(923px - 75px);
    background-image: url('/images/quiz/Light Mode Low Opacity.png'); 
    background-size: cover; 
    background-position: center;
}

.sideNav :any-link {
    text-decoration: none;
}

.box {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: calc(923px - 75px);
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 99; 
  }
