.box {
    width: 400px;
    height: 45px;
    margin: 0 auto 0 auto;
    align-items: center;
    background: rgb(234, 234, 234);
    border-radius: 15px 15px 0 0;
}

.item {
    padding-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

