.box {
    width: 390px;
    height: 50px;
    margin: 20px auto 0 auto;
    padding-left: 10px ;
    align-items: center;
    background: rgb(204, 204, 204);
}

.holder {
    width: 390px;
    height: 40px;
    margin: 0 auto 0 auto;
}

