.box {
    width: 400px;
    height: 30px;
    margin: auto;
    margin-top: 0;
    padding-bottom: 5px;
    align-items: center;
    background: rgb(240, 240, 240);
    text-decoration: none;
}

.link {
    margin: auto;
    margin-top: 0;
    align-items: center;
    background: rgb(240, 240, 240);
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid gray;
    text-decoration: none;
}

.box:hover {
    background: rgb(230, 230, 230);
}

.item {
    padding-left: 20px;
    padding-top: 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

