.fieldset {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 160px;
    height: 310px;
    align-items: center;
    margin: 10px;
}

.image {
    margin: 55px 10px 5px 10px;
    border-radius: 15px;
}

.content {
    font-family: var(--open-sans-text);
    font-size: var(--open-sans-small);
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.subtitle {
    padding-left: 30px;
    background-color: var(--button-outline-light);
}