.button {
    padding: 12px 0; 
    width: 185px; 
    height: 150px; 
    font-size: 15px;
    background-image: linear-gradient(var(--button-linear-light));
    color: var(--black);
    border: none;
    border-radius: 11px;
    cursor: pointer;
    border: 2px solid #B8C0FF;
}

.button:hover {
    background-color: #8229E0; 
    background-image: none;
    color: var(--white); 
}