.photoHolder,
.smallBox,
.quater,
.pair {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photoHolder {
    width: 390px;
    height: 275px;
}

.quater {
    width: 195px;
}

.topSmall {
    padding-bottom: 5px;
}


