.photoHolder,
.smallBox,
.quater,
.pair,
.pairTop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photoHolder {
    width: 390px;
    height: 275px;
}

.quater {
    width: 200px;
}

.pairTop {
    padding-bottom: 6px
}

.pair {
    padding-top: 6px;
}
.topSmall,
.bottomSmall {
    padding: 0 5px 0 5px;
}


