.fieldset {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 10px;
    align-items: center;
    margin: 10px 5px;
}

.image {
    padding-top: 20px;
}

.content {
    font-family: var(--open-sans-text);
    font-size: var(--open-sans-small);
}