.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 377px;
    height: 82px;
    margin: 5px;
    align-items: center;
    background-color: var(--button-linear-light);
}

.home,.inventory,.plus,.collection,.community {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px 14px 10px;
}

.iconHolder {
    display: block;
}

.iconHolder,
.chosenIcon {
    display: block;
    border-radius: 50%;
}


