.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 200px;
    margin: 0;
    align-items: center;
}

.iconHolder {
    display: block;
}

.iconHolder,
.chosenIcon {
    display: block;
    border-radius: 50%;
}


