.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 377px;
    height: 75px;
    margin: 0;
    align-items: center;
}

.home,.inventory,.plus,.collection,.community {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.iconHolder {
    display: block;
}

.iconHolder,
.chosenIcon {
    display: block;
    border-radius: 50%;
}


