.container {
    width: 350px;
    height: 160px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px 20px 30px 20px;
    background: white;
    margin: auto;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.triangle {
    margin-top: -22px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 45px solid white;
    z-index: -1;
    padding: 0%;
    margin-bottom: 10px ;
    align-items: center;
    margin: 0 auto;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}



