.questionAnalysis {
    padding: 25px;
}

#space {
    padding-top: 45px;
}

.title {
    font-family: var(--roboto-slab-text);
}

.analysisContent {
    font-family: var(--open-sans-text);
}

.bulletPointJean {
    list-style-type: '👖';
    padding-left: 10px;
}

.bulletPointDress {
    list-style-type: '👗';
    padding-left: 10px;
}

.bulletPointTShirt {
    list-style-type: '🧥';
    padding-left: 10px;
}

.bulletPointShoes {
    list-style-type: '📿';
    padding-left: 10px;
}

.buttonPosition {
    padding-left: 110px;
}