.questionAnalysis {
    padding: 25px;
}

.title {
    font-family: var(--roboto-slab-text);
    font-weight: var(--roboto-slab-weight);
    color: var(--black);
    padding: 40px 10px; 
    margin: 30px 20px;
    text-align: center;
}

.subTitle {
    font-family: var(--roboto-slab-text);
    text-align: center;
}

.analysisTitle {
    font-family: var(--roboto-slab-text);
}

.questionAnalysis p {
    font-family: var(--open-sans-text);
}

.jean {
    list-style-type: '👖';
    padding-left: 10px;
}

.dress {
    list-style-type: '👗';
    padding-left: 10px;
}

.tShirt {
    list-style-type: '🧥';
    padding-left: 10px;
}

.shoes {
    list-style-type: '📿';
    padding-left: 10px;
}

.buttonPosition {
    position: relative;
    margin: auto;
    align-items: center;
    left: 180px;
}

.contentContainer {
    align-items: center;
}

.mainContainer {
    padding: 20px;
}

.chart,.chartTitle {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.chartTitle {
    position: absolute;
    top: 0px;
    text-align: center;
    align-items: center;
}
