@media (max-width: 430px) {

    



    .questionAnalysis {
        padding: 25px;
    }

    .title {
        font-family: var(--roboto-slab-text);
        font-weight: var(--roboto-slab-weight);
        color: var(--black);
        padding: 40px 10px; 
        margin: 30px 20px;
        text-align: center;
    }

    .subTitle {
        font-family: var(--roboto-slab-text);
        text-align: center;
    }

    .analysisTitle {
        font-family: var(--roboto-slab-text);
    }

    .questionAnalysis p {
        font-family: var(--open-sans-text);
    }

    .jean {
        list-style-type: '👖';
        padding-left: 10px;
    }

    .dress {
        list-style-type: '👗';
        padding-left: 10px;
    }

    .tShirt {
        list-style-type: '🧥';
        padding-left: 10px;
    }

    .shoes {
        list-style-type: '📿';
        padding-left: 10px;
    }

    .buttonPosition {
        position: absolute;
        bottom: calc(100vh - 1550px);
        left: 101px;
    }
}
