.bulletPointJean {
    list-style-type: '👖';
    padding-left: 10px;
}

.bulletPointDress {
    list-style-type: '👗';
    padding-left: 10px;
}

.bulletPointDress {
    list-style-type: '👗';
    padding-left: 10px;
}