:root {
    --black: black;
    --white: white;
    --transparency: rgba(0, 0, 0, 0);
    --gray: rgb(119, 119, 119);
    --red: rgb(201, 8, 8);
    
    --large: 21px;
    --medium: 18px;
    --small: 16px;
    --logo: 25px;

    --button-linear-light: 45deg, rgba(221, 184, 255, 0.8), rgba(214, 239, 255, 0.8);
    --button-outline-light: 2px solid #B8C0FF;
}

html, 
body {
    margin: 0;
    padding: 0;
}



