@media (max-width: 431px) {

    .mainContainer { 
        height: 100vh; 
        background-image: url('/images/quiz/Light Mode Low Opacity.png'); 
        background-size: cover; 
        background-position: center;
        margin: 0;
        padding:0;
    }

}