.link{
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 20vh;
  }
  

/* iPhone 14 Pro */
@media (max-width: 430px) { 

}