
/* iPhone 14 Pro */
@media (max-width: 430px) {
    
        
    .container {
        display: flex;
        align-items: center; 
        justify-content: center; 
        height: 20vh; 
        background-image: url('../image/Light Mode.jpg'); 
        background-size: cover; 
        background-position: center;
    }
}
