/* iPhone 14 Pro */
@media (max-width: 430px) {
    
        
    .container {
        display: flex;
        align-items: center; 
        justify-content: center; 
        height: 100vh; 
        background-image: url('/images/quiz/Light Mode Low Opacity.png'); 
        background-size: cover; 
        background-position: center;
    }
}
