.link{
    text-decoration: none;
}



/* iPhone 14 Pro */
@media (max-width: 430px) {
    
    body {
        font-size: 14px;
    }
    
        
    .container {
        
        margin: 0 auto;
    }
}
